body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 217, 255);
}
 
h1{
    font-size: 60;
}

#clock{
    text-align: center;
}
.btn{
    padding: 10px 20px;
    background: aquamarine;
}