body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 217, 255);
}
 
h1{
    font-size: 60;
}

#clock{
    border: solid 4px black;
    padding: 0.4cm 2cm;
    text-align: center;
}
.btn{
    padding: 10px 20px;
    background: rgb(138, 255, 253);
}